@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "Disket Mono";
    font-style: normal;
    font-weight: normal;
    src:
      url("../../assets/fonts/disket-mono-regular-webfont.woff2")
        format("woff2"),
      url("../../assets/fonts/disket-mono-regular-webfont.woff") format("woff"),
      url("../../assets/fonts/disket-mono-regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Disket Mono";
    font-style: normal;
    font-weight: bold;
    src:
      url("../../assets/fonts/disket-mono-bold-webfont.woff2") format("woff2"),
      url("../../assets/fonts/disket-mono-bold-webfont.woff") format("woff"),
      url("../../assets/fonts/disket-mono-bold.ttf") format("truetype");
  }

  @theme {
    --color-*: initial; /* restricts color variables to only these and not the defaults */

    --color-primary: #100d08;
    --color-bg-primary: #eae7e6;

    --font-display: "Disket Mono", monospace;
    /* redefining default fonts -- ugly but couldn't find better */
    --font-mono: "Disket Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, "Liberation Mono", "Courier New", monospace;
  }
}
