@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
	font-family: 'Disket Mono';
	src: url(../../public/fonts/Disket-Mono-Regular.ttf);
	font-weight: normal;
	font-style: normal;
} 